{include file="common@public/header"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-header">{$page_title}</div>
            <div class="layui-card-body">
                {:access_button('Activity/add_activity', '添加活动')}
                <form class="layui-search layui-form" action="" method="get">
                    <div class="layui-col-md3">
                        <label>昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="nickname" value="{$where.nickname}" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="layui-col-md3 layui-search-submit">
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-normal" type="button" onclick="search(this)">搜索</button>
                        </div>
                    </div>
                    <div class="layui-clear"></div>
                </form>
                <table class="layui-table layui-form">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>活动列表图</th>
                        <th>状态</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {if condition="empty($list)"}
                    <tr>
                        <td colspan="12" align="center">暂无数据！</td>
                    </tr>
                    {/if}
                    <tbody>
                    {foreach $list as $item}
                    <tr>
                        <td>{$item.id}</td>
                        <td><img src="{$item.thumb}" alt=""></td>
                        <td>{if condition ="$item.status eq 1"}开启{else/}关闭{/if}</td>
                        <td>{$item.start_time|date='Y-m-d H:i:s'}
                        <td>{$item.end_time|date='Y-m-d H:i:s'}</td>
                        <td>
                            <!--操作按钮开始-->
                            {:access_button('Activity/edit_activity', ['id'=>$item['id']], '编辑')}
                            {:access_button('Activity/del_activity', ['id'=>$item['id']], '删除', 'confirm')}
                            <!--操作按钮结束-->
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页按钮输出开始-->
                <div class="page">
                    {$page|raw}
                </div>
                <!--分页按钮输出结束-->
            </div>
        </div>
    </div>
</div>
{include file="common@public/footer" /}